/* vietnamese */
@font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/saira/v8/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCksAxljYm.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/saira/v8/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCksExljYm.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Saira';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(https://fonts.gstatic.com/s/saira/v8/memWYa2wxmKQyPMrZX79wwYZQMhsyuShhKMjjbU9uXuA71rCks8xlg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

.list{
    position: fixed;
    z-index: 1;
    width: 1349px;
    height: 100px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
}

.navimg{
    position: fixed;
    width: 168px;
    height: 102px;
    left: 0px;
    top: 0px;
}

.links{
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-item1 a{
    position: absolute;
    width: 96px;
    height: 57px;
    left: 398px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item2 a{
    position: absolute;
    width: 95px;
    height: 57px;
    left: 555px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item3 a{
    position: absolute;
    width: 212px;
    height: 57px;
    left: 699px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item4 a{
    position: absolute;
    width: 224px;
    height: 57px;
    left: 961px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
}

.bg{
    position: absolute;
    width: 1349px;
    height: 934px;
    left: 0;
    top: 122px;
    background-color: #e32b12;
}

.joll{
    position: absolute;
    width: 1349px;
    height: 314px;
    left: 0px;
    background-image: url(joll.jpg);
    opacity: 0.7;
}

.diverse{
    position: absolute;
    width: 200px;
    height: 38px;
    left: 146px;
    top: 401px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc1{
    position: absolute;
    width: 291px;
    height: 66px;
    left: 146px;
    top: 439px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-order{
    position: absolute;
    width: 182px;
    height: 52px;
    left: 146px;
    top: 526px;
    color: #c61f08;
}

.book{
    position: absolute;
    width: 102px;
    height: 38px;
    left: 151px;
    top: 640px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc2{
    position: absolute;
    width: 286px;
    height: 110px;
    left: 146px;
    top: 678px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-contacts{
    position: absolute;
    width: 182px;
    height: 52px;
    left: 146px;
    top: 626px;
    color: #c61f08;
}


.img1{
    position: absolute;
    width: 652px;
    height: 252px;
    left: 555px;
    top: 388px;
    background: url(assorteddishes.jpg);
}

/*.img2{
    position: absolute;
    width: 855px;
    height: 293px;
    left: 533px;
    top: 759px;
    background: url(cover-17.jpg);
}*/