.list{
    position: fixed;
    z-index: 1;
    width: 1349px;
    height: 102px;
    left: 0px;
    top: 0px;
    background-color: #ffffff;
}

.navimg{
    position: fixed;
    width: 168px;
    height: 102px;
    left: 0px;
    top: 0px;
}

.links{
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.link-item1 a{
    position: absolute;
    width: 96px;
    height: 57px;
    left: 398px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item2 a{
    position: absolute;
    width: 95px;
    height: 57px;
    left: 555px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item3 a{
    position: absolute;
    width: 212px;
    height: 57px;
    left: 699px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
   
}

.link-item4 a{
    position: absolute;
    width: 224px;
    height: 57px;
    left: 961px;
    top: 22px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    color: #e32b12;
}

.bg{
    position: absolute;
    width: 1349px;
    height: 934px;
    left: 0;
    top: 122px;
    background-color: #e32b12;
}

.joll{
    position: absolute;
    width: 1349px;
    height: 314px;
    left: 0px;
    top: 0px;
    background-image: url(joll.jpg);
    opacity: 0.7;
}

.diverse{
    position: absolute;
    width: 200px;
    height: 38px;
    left: 146px;
    top: 401px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc1{
    position: absolute;
    width: 291px;
    height: 66px;
    left: 146px;
    top: 439px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-order{
    position: absolute;
    width: 182px;
    height: 52px;
    left: 146px;
    top: 626px;
    color: #c61f08;
}

.cater{
    position: absolute;
    width: 120px;
    height: 38px;
    left: 146px;
    top: 640px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc2{
    position: absolute;
    width: 286px;
    height: 110px;
    left: 146px;
    top: 678px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-contacts{
    position: absolute;
    width: 182px;
    height: 52px;
    left: 146px;
    top: 626px;
    color: #c61f08;
}

.deliver{
    position: absolute;
    width: 140px;
    height: 38px;
    left: 784px;
    top: 401px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc3{
    position: absolute;
    width: 279px;
    height: 88px;
    left: 784px;
    top: 439px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-order1{
    position: absolute;
    width: 121px;
    height: 38px;
    left: 814px;
    top: 640px;
    color: #c61f08;
}

.rent{
    position: absolute;
    width: 188px;
    height: 38px;
    left: 784px;
    top: 640px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #ffffff;
}

.desc4{
    position: absolute;
    width: 226px;
    height: 88px;
    left: 784px;
    top: 678px;
    font-family: 'Saira' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #ffffff;
}

.bnt bnt-contacts1{
    position: absolute;
    width: 98px;
    height: 38px;
    left: 820px;
    top: 916px;
    color: #c61f08;
}
